// Source: https://fonts.google.com/specimen/Open+Sans
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-display: swap;

    src:
        local("Open Sans"),
        /* Super Modern Browsers */ url("/assets/font/opensans/opensans.woff2") format("woff2"),
        /* Modern Browsers */ url("/assets/font/opensans/opensans.woff") format("woff"),
        /* Safari, Android, iOS */ url("/assets/font/opensans/opensans.ttf") format("truetype");
}
// Bold
@font-face {
    font-family: "Open Sans";
    font-style: bold;
    font-weight: bold;
    font-display: swap;

    src:
        local("Open Sans"),
        /* Super Modern Browsers */ url("/assets/font/opensans/opensans-bold.woff2") format("woff2"),
        /* Modern Browsers */ url("/assets/font/opensans/opensans-bold.woff") format("woff"),
        /* Safari, Android, iOS */ url("/assets/font/opensans/opensans-bold.ttf") format("truetype");
}
// Italic
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: italic;
    font-display: swap;

    src:
        local("Open Sans"),
        /* Super Modern Browsers */ url("/assets/font/opensans/opensans-italic.woff2") format("woff2"),
        /* Modern Browsers */ url("/assets/font/opensans/opensans-italic.woff") format("woff"),
        /* Safari, Android, iOS */ url("/assets/font/opensans/opensans-italic.ttf") format("truetype");
}
